#menu-principal {
    padding: 5px 5px 150px 5px;
    margin: 100px 0 0 -185px;
    position: fixed;
    z-index: 200;
    background-color: #444;
    border-radius: 0 8px 8px 0;
}
.btn-hover {
    display: inline;
    border: 1px solid #000;
    cursor: pointer;
    margin: 5px 0 0 2px;
}
.menu-mobile {
    margin-left: 10px;
    display: inline;
}
.btn-hover a {
    color: #fff;
}
.item-menu {
    margin-top: 4px;
}
.item-menu a{
    display: block;
    width: 175px;
    padding: 8px 8px 8px 8px;
    text-decoration: none !important;
    font-size:16px;
    font-family: lolitaheavy;
    border-radius:8px;
    color:#333;
    background-color: #bbb;
}
.item-menu a:hover {
    background-color: #ec6907;
    color:#fff;
}
.submenu {
    margin-bottom: 0px;
    display: none;
    border-top: 1px solid #a4a4a4;
}
.submenu a{
    display: block;
    text-decoration: none !important;
    font-size:14px;
    font-family: lolitaheavy;
    color:#333;
    padding: 6px 0 6px 30px;
    background-color: #bbb;
}
.submenu a:hover {
    color: #ec6907;
}
.sb1 {
    margin-top: 0px !important;
}
.esconder {
    margin: 100px 0 0 -180px;
}
.mostrar {
    margin: 100px 0 0 0px !important;
}



