.fadeInMenu {
    left: 0px !important;
}

/* MENU PRINCIPAL*/
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 9;
    height: 100%;
    width: 250px;
    background-color: #222d32;
    -webkit-transition: left 0.7s; /* Safari */
    transition: left 0.7s;
}

.sidebar a {
    color: #b8c7ce;
}

.sidebar a:hover {
    text-decoration: none;
}

ul.sidebar-menu {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    max-width: 300px;
    list-style: none;
    list-style-type: none;
}
.sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
}

.sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #fb5e00;
}

.sidebar-menu li a  {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar-menu li a:hover  {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}
.sidebar-menu li.have-children ul {
    padding: 0px;
    margin: 0 1px;
    background: #2c3b41;

} 
.sidebar-menu li.have-children ul li a {
    color: #8aa4af;
    background-color: #2c3b41;
    padding-left: 40px;
} 
.sidebar-menu li.have-children ul li a:hover, .sidebar-menu li.have-children ul li.active a {
    color: #fff;
    background-color: #52565d;
    padding-left: 40px;
} 
.sidebar-menu li.have-children, li {
    position: relative;
}
.sidebar-menu .have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all .5s;
}
.sidebar-menu li.active.have-children span::after {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}